
#thue pre, #thue code {
  margin-left: 1em;
  font-family: monospace;
}

#statusbar.error {
  color: red;
  background: yellow;
}

#statusbar.done, #thue pre.done {
  opacity: 80%;
}

#thue code {
  background: #ffffee;
}
