
#thue pre, #thue code {
  margin-left: 1em;
  font-family: monospace;
}

#statusbar.error {
  color: red;
  background-color: yellow;
}

#statusbar.done, #thue pre.done {
  opacity: 80%;
}

#thue code {
  color: black;
  background: #ffffee;
  font-family: monospace;
  padding: 0em 0.2em;
}
