#thue pre, #thue code {
    padding: 1em;
}

#status.error {
    color: red;
}

#status.done, #thue pre.done {
    color: green;
}

#thue code {
    background: #111100;
    border: none;
}

header p a {
    color: var(--color-footer);
}

pre#code {
    border: 1px yellow!important;
    max-height: 30%;
    max-width: 100%;
    resize: horizontal;
    overflow: auto;
}
